<p>ドラッグ＆ドロップで画像を配置する機能を利用する場合は、アセットアップロード専用のData APIユーザー情報を入力してください。</p>
<mtapp:setting id="data_api_username" label="ユーザー名">
<input type="text" name="data_api_username" id="data_api_username" value="<$mt:GetVar name="data_api_username"$>" />
</mtapp:setting>
<mtapp:setting id="data_api_password" label="パスワード">
<input type="text" name="data_api_password" id="data_api_password" value="<$mt:GetVar name="data_api_password"$>" />
</mtapp:setting>
